@media print{
	@page{
		size: 148mm 210mm;
		margin-top: 5mm;
		margin-bottom: 10mm;
	}
	@page:left{
		margin-left: 15mm;
		margin-right: 20mm;
		@bottom-right-corner{
			content: counter(page);
			font-family: monospace;
			font-size: 8pt;
			margin-bottom:5mm;
			text-align: center;
		}
		@top-center{
			/* copying a h1 to a running element */
			content: string(chapTitle); 
			/* moving a h1 to a running element */
			/*content: element(chapTitle); */
			margin-top:5mm;
			font-family: monospace;
			font-size: 8pt;
		}
	}
	@page:right{
		margin-left: 20mm;
		margin-right: 15mm;
		@bottom-left-corner{
			content: counter(page);
			font-family: monospace;
			font-size: 8pt;
			margin-bottom:50mm;
			text-align: center;
		}
		@top-center{
			content:"Book Title";
			margin-top:5mm;
			font-family: monospace;
			font-size: 8pt;
		}
	}

	/* running headers */
	h1{
		/* copying a h1 to a running element */
		string-set: chapTitle content(text); 
	}
	h1{
		/* moving a h1 to a running element */
		/*position: running content(text); */
	}

	/* page breaks */
	.chapter{
		break-before: right;
	}
	figure{
		break-inside: avoid;
	}

	/* to remove content from blank pages*/
	@page:blank{
		@top-center{ content: none; }
		@bottom-left-corner{ content: none; }
		@bottom-right-corner{ content: none; }
	}

	/* to color blank pages*/
	@page:blank{
		background-color: pink;
	}

	/* to select a specific page */
	@page:nth(3){ 
		background-color: yellow; 
	}

	/* apply styling to specific sections */
	#halftitle, 
	#toc, 
	#prefatory-note,
	#toc{
		page: lgm;
	}
	@page lgm{
		color:blue;
	}

	#introduction{
		page: intro;
	}
	@page intro{
		color: #41ab7c;
	}

	/* Remove all the content of a first page of a chapter*/
	/* does not work */
	@page chapter:first{
		background-color: black;
		color:white;

		/* does not work */
		columns:2 auto; 
	}

	/* only apply styling to the first chapter */
	/* Does not work ... */
	.chapter[data-capter="1"]{
		columns: 2;
	}


	/* To create a table of content */
	#toc a[href]::after{
		content: target-counter(attr(href), page);
		float: right;
		margin-left:5mm;
		/*font-size:125%;*/
	}
	/* a hack to add ...........'s to the TOC */
	#toc li{
		overflow-x:hidden;
		display: flex;
	}
	#toc li::after{
		content: " ......................................... ";
		float: left;
		width: 0;
		padding-left:10mm;
		letter-spacing: 0.1em;
	}



}