html{
  font-family: 'Avara';
}

section{
  display: grid;
  grid-template-columns: 50% 50%;
}

#generale{
  display: block !important;
}

#district li{
    margin: 0;
}

.longtext{
  column-count: 2;
}

.longtext p{
  margin-top: ;
}

.lang{
  margin: 35px 60px 35px 35px;
}

h1{
  font-family: 'vg5000';
  font-size: 36px;
  width: 45%;
  margin: 0 0 40px 0;
}

p{
  margin: 20px 0;
}

p,li{
  font-size: 14px;
}

ul li:before{
  content: "‡";
  width: 1em !important;
margin-left: -1em;
display: inline-block;
}

li{
  list-style-type: none;
  margin-bottom: 20px;
}
ul{
  padding: 0 10px 0 40px;
}

strong{
  font-family: 'Avara-Black';
}


@media print{
  @page{
    /* size: 105mm 297mm ; */
    size: A4
  }

  section{
    page-break-before: always;
    border: solid 2px;
  }

  .longtext{
    height: 90%;
  }

}
