@font-face{
	font-family:"compagnon";
	src:url('Compagnon-Roman.otf');
}

body{
	font-family:"compagnon";
}
table{
	float:left;
	margin:1em 2em;
}
tr, td{
	border:1px solid black;
	border-radius:5px 25px;
	vertical-align:middle;
	text-align:center;
}

hr{
	clear:both;
	border:0;
}

@media print{
	@page{
		size: A4;
		margin:2mm 2mm 0 2mm;
	}
	body{
		font-size:9pt;
		columns:2 auto;
		column-gap:12mm;
		margin:0;
		padding:0;
	}
	h1{
		margin-top:0;
	}
	hr{
		page-break-after:always;
	}
}

