<style>
	html{
		border:10px inset blue;
		background-color:rgba(0, 0, 255, 0.1);
		min-height:calc(100vh - 20px);
	        border:10px inset blue;
        	min-height: calc(100vh - 20px);
       		background-color:rgba(0,0,255,0.1);
	}
	.iframe{
        	width:calc(100% - 4em);
        	margin:1em 2em;
	}
	iframe{
        	width:100%;
		border:0;
		background-color:white;
	}
	.caption{
        	font-size:small;
        	color:darkorchid;
	}
</style>

<h1>Local-logs</h1>

